* {
  box-sizing: border-box;
}

.picture-body {
  border: 2px solid grey;
  padding: 2px;
  overflow: auto;
}

.picture-group {
  width: 25%;
  height: 300px;
  border: 1px solid black;
  padding: 5px;
  float: left;
  text-align: center;
  overflow: hidden;
}
